{
	"parser": "babel-eslint",
	"extends": [ "eslint:recommended", "airbnb", "prettier" ],
	"plugins": [ "import", "prettier", "prettier/typescript" ],
	"env": {
		"node": true,
		"es6": true,
		"browser": true
	},
	"rules": {
		"no-bitwise": 0,
		"no-console": 0
	}
}
